@import '../../App.scss';

.about-julia {


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 80px;


    img {
        height: 70vh;
        width: 80%;
    }
}

.innerContainer {
    width: 100vw;

}

.about-julia__inner {

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-style: oblique;
    padding: 6rem 8rem;
    color: $Font-Color;
    background-color: $Second-Color;

    @media (max-width: 768px) {
        padding: 4rem;
    }

    p {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 3rem;

    }

}

.about-julia__bottom {

    background-color: #fff;
    margin: 1rem 0 4rem;
    width: 100vw;
    padding: 2rem;



    .btn-enquire {
        width: 20rem;
        margin-top: 3rem;
        letter-spacing: 5px;
    }

    .title {
        font-size: 60px;
        margin: 2rem 0;

        @media (max-width: 768px) {
            font-size: 50px;
        }
    }

    p {
        font-size: 25px;

    }


}

@media (min-width: 968px) {
    .about-julia__inner {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.about-julia__text {
    flex: 1 1 50%;

    line-height: 1.65;
    font-size: 1rem;
}

.about-julia__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about-julia__signature {
    margin-top: 1.25rem;
    font-weight: 600;
}

.about-julia__role {
    font-size: 0.875rem;
    opacity: 0.75;
}

.about-julia__image-wrap {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-julia__image {
    width: 320px;

    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    object-fit: cover;
}

.about-julia__bottom {
    text-align: center;

}

.about-julia__bottom h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.about-julia__bottom p {
    margin: 0.25rem 0;
}

.btn-enquire {
    margin-top: 1.25rem;
    padding: 0.8rem 2rem;
    border-radius: 1.25rem;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    background-color: #111827;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.btn-enquire:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}