@import '../../App.scss';



.video-slider-container {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
