@import '../../App.scss';

.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(139, 139, 139, 0.7), rgba(110, 110, 110, 0.7)),
    url('../../images/img.jpg') no-repeat center center;
  background-size: cover;

  .forgot-card {
    background: rgba(255, 255, 255, 0.85);
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px $First-Color;
    width: 350px;
    text-align: center;

    h2 {
      margin-bottom: 2rem;
      color: $Font-Color;
    }

    form {
      display: flex;
      flex-direction: column;
      text-align: left;

      label {
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: $First-Color;
      }

      input {
        padding: 0.75rem 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
        margin-bottom: 1rem;
        background-color: rgba(#fff, 0.8);

        &:focus {
          border-color: $Second-Color;
          outline: none;
          box-shadow: 0 0 5px $First-Color;
        }
      }

      button {
        width: 100%;
        padding: 0.75rem 1rem;
        border: none;
        border-radius: 8px;
        background-color: $First-Color;
        color: #fff;
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          box-shadow: 2px 2px 5px $Font-Color;
        }
      }

      .success {
        margin-top: 1rem;
        color: green;
        font-weight: 500;
      }

      .error {
        margin-top: 1rem;
        color: rgb(206, 39, 39);
        font-weight: 500;
      }
    }

    .back-login {
      margin-top: 1rem;
      text-align: center;

      a {
        color: $Second-Color;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: $First-Color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .forgot-password-page .forgot-card {
    width: 90%;
    padding: 1.5rem 1rem;
  }
}
